/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (min-width: 46.875em) {
    html {
      font-size: 100%; } }

body {
  color: #4c4948;
  font-family: YakuHanMP, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; }

.container {
  margin: 0 auto;
  max-width: 750px; }

.row {
  margin: 0 6%; }
  @media (min-width: 46.875em) {
    .row {
      margin: 0 50px; } }

.reset-row-sp {
  margin: 0; }
  @media (min-width: 46.875em) {
    .reset-row-sp {
      margin: 0 50px; } }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #4c4948;
  display: inline-block;
  text-decoration: none;
  transition: all linear 0.1s; }
  @media (min-width: 46.875em) {
    a:hover {
      opacity: 0.95;
      cursor: pointer; } }

*:focus {
  outline: none; }

.bg-color {
  background: #fafafb; }

.white-base {
  background: #fff; }

.wrap-btn {
  text-align: center; }

.btn {
  display: inline-block;
  padding: 2.6rem 0;
  position: relative;
  width: 36.36364%;
  z-index: 1; }
  @media (min-width: 46.875em) {
    .btn {
      padding: 34px 0;
      width: 360px; } }
  .btn.btn-cta {
    background: #07652a;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative; }
    @media (min-width: 46.875em) {
      .btn.btn-cta {
        font-size: 22px; } }
    .btn.btn-cta .arrow {
      position: absolute;
      top: 50%;
      right: 5.92885%;
      transform: translateY(-50%);
      width: 12px; }
      @media (min-width: 46.875em) {
        .btn.btn-cta .arrow {
          width: 14px; } }

.reset {
  margin: 0 !important; }

.section-content {
  padding: 5.6rem 0; }
  @media (min-width: 46.875em) {
    .section-content {
      padding: 126px 0; } }

.frame {
  border: 1px solid #000; }

.bg-gray {
  background: #f8f5f1; }

.bg-white {
  background: #fff; }

.frame-top {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000; }

.frame-middle {
  border-right: 1px solid #000;
  border-left: 1px solid #000; }

.frame-bottom {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000; }

.more-btn {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  padding-top: clamp(10px, 50%, 35px);
  padding-bottom: clamp(10px, 50%, 40px);
  text-align: center; }
  @media (min-width: 46.875em) {
    .more-btn {
      padding-top: 77px;
      padding-bottom: 115px; } }
  .more-btn img {
    max-width: 24.24242%; }
    @media (min-width: 46.875em) {
      .more-btn img {
        width: 250px; } }

.sp-view {
  display: block; }
  @media (min-width: 46.875em) {
    .sp-view {
      display: none; } }

.pc-view {
  display: none; }
  @media (min-width: 46.875em) {
    .pc-view {
      display: block; } }

body {
  width: 100%; }

.kv {
  position: relative; }
  .kv .cm-btn {
    position: absolute;
    bottom: 2%;
    right: 3%;
    width: 34.66667%; }

#cm .movie {
  background: #151515;
  text-align: center;
  padding: 7.5% 0 4.5%; }
  #cm .movie .heading {
    margin: 0 0 4%;
    width: 93.33333%; }
  #cm .movie .youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%; }
    #cm .movie .youtube iframe {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 88.8%;
      height: 100%; }

#cm .cta-btns {
  background: #008b97;
  padding: 2.8% 0 2%; }
  #cm .cta-btns .cta-btns-list {
    display: flex;
    justify-content: space-between; }
    #cm .cta-btns .cta-btns-list__item {
      width: 50%; }
      #cm .cta-btns .cta-btns-list__item img {
        width: 97.91667%; }
    #cm .cta-btns .cta-btns-list.only-btn {
      display: block;
      text-align: center; }
      #cm .cta-btns .cta-btns-list.only-btn .cta-btns-list__item {
        width: 100%; }
        #cm .cta-btns .cta-btns-list.only-btn .cta-btns-list__item a {
          width: 86.26667%; }
        #cm .cta-btns .cta-btns-list.only-btn .cta-btns-list__item img {
          width: 100%; }

#contact {
  padding: 9% 0; }
  #contact .heading {
    margin: 0 auto 7%;
    width: 77.6%;
    display: block; }

.footer-section {
  background: #262626;
  color: #838383;
  padding: 7% 0; }
  .footer-section .footer-logo {
    margin: 0 0 0 6%;
    width: 36%; }

#bottom-fix-btn {
  background: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 4% 5%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  transition: opacity 0.2s linear;
  background: #008b97;
  padding: 2.8% 0 2%; }
  #bottom-fix-btn.active {
    opacity: 1; }
  #bottom-fix-btn .cta-btns-list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    #bottom-fix-btn .cta-btns-list__item {
      width: 50%; }
      #bottom-fix-btn .cta-btns-list__item img {
        width: 97.91667%; }
    #bottom-fix-btn .cta-btns-list .row {
      width: 100%; }
    #bottom-fix-btn .cta-btns-list.only-btn {
      display: block;
      text-align: center; }
      #bottom-fix-btn .cta-btns-list.only-btn .cta-btns-list__item {
        width: 100%; }
        #bottom-fix-btn .cta-btns-list.only-btn .cta-btns-list__item a {
          width: 86.26667%; }
        #bottom-fix-btn .cta-btns-list.only-btn .cta-btns-list__item img {
          width: 100%; }


/*# sourceMappingURL=main.css.map*/